.container {
    height: 100vh; 
    padding: 50px;
}
.content {
    height: 65%;
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    text-align: start;
}
.content h1 {
    font-family: Quicksand,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 133.69%;   
}
.content p {
    font-family: Quicksand,Arial,sans-serif;
    line-height: 1.3em;
    letter-spacing: .04em;
    font-size: 20px;
}
.info {
    width: 40%;
}
.btn {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 24px;
    width: 33%;
    height: 40px;
    border-radius: 30px;
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 74px;
    cursor: pointer;
    opacity: .8;
    margin-top: 50px;
}
.btn:hover {
    opacity: 1;
}
.social h1 {
    font-family: Quicksand,Arial,sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 133.69%;
}
.content img {
    height: 50%;
    margin: 20px;
}
.social {
    width: 60%;
    margin: auto;
}
.media img {
    height: 75px;
    margin: 10px;
    opacity: .7;
}
.media img:hover {
    opacity: 1;
}
@media (max-width : 1100px) {
    .content {
        width: 100%;
        display: block;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        text-align: center;
    }
    .content img {
        width: 80%;
    }
    .info {
        width: 100%;
    }
    .content h1 {
        font-size: 25px;
        font-weight: bolder;
    }
    .btn {
        width: 70%;
        margin: auto;
        height: 40px;
    }
    .social {
        margin-top: 130px;
        width: 90%;
    }
    .social h1 {
        
        font-size: 20px;
    }

    .media img {
        height: 30%;
        margin: 5px;
    }
}