.container {
    display: block;
    justify-content: center;
    align-items: center;
    align-content: center;
}
.links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}