.container {
    box-shadow:  0px 20px 50px #00000041
}
.navbar {
    width: 65%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo img{
    height: 70px;
}
.logo:hover {
    animation: App-logo .8s linear;
}
.theme {
    height: 40px;
    cursor: pointer;
    margin: 15px;
}
.theme:hover {
    animation: App-logo 2s infinite;
}
.navlinks {
    display: flex;
    justify-content: space-around;
    width: 50%;
    font-family: "Roboto", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
    list-style: none;

}
li{
    text-decoration: none;
    color: rgba(31, 46, 53, 0.8);
}
li:hover {
    color: black;
}
@keyframes App-logo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  